*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-grey {
    background-color: #ddd;
}

.bg-dark {
    background-color: #333;
}

.text-light {
    color: #fff;
}

header {
    margin-bottom: 10px;
    padding: 50px 0px;
}

nav {
    min-height: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 0px;
}

main {
    display: flex; 
    margin-bottom: 15px;
}

#left-content{
    width: 25%;
    margin-right:5px;
    padding: 100px auto;
}

#main-content{
    width: 50%;
    min-height: 100px;
    margin-right:5px;
}

#right-content{
    width: 25%;
    min-height: 100px;
}

footer{
    min-height: 50px;
    text-align: center;
    padding: 10px 0;
}

#clock{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 28px;
}

.slideshow-container{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 10px auto;
}

.slideshow-container img{
    margin: 0;
    padding: 0;
    width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#mousePositionContainer{
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
}

#mouseXPos{
  padding: 10px 0px;
  border: solid #fff;
  width: 100px;
  text-align: center;
}

#mouseYPos{
  padding: 10px 0px;
  border: solid #fff;
  width: 100px;
  text-align: center;
}

.button-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.btn {
  padding: 12px 50px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 6px 7px 40px -4px
          rgba(0, 0, 0, 0.2);
}

.btn span {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  animation: ripple 2s;
  opacity: 0.1;
}

@keyframes ripple {
  from {
      opacity: 1;
      transform: scale(0);
  }

  to {
      opacity: 0;
      transform: scale(10);
  }
}